{% extends 'base.html.twig' %}

{% block title %}
    Register for this Event
{% endblock %}

{% block body %}
    <section class="section min-height" id="features">
        <div class="card section-heading">
            <h2 class="card-header text-center text-uppercase py-4">Register :
                <em>for this Event</em>
            </h2>
            <div class="card-body text-center">
                <a href="{{ path('event_show', { 'id': event.id }) }}">Back to Event</a>
            </div>

            <div class="card">
                <div class="card-body">
                    <div id="table" class="table-responsive">
                        <table class="table table-bordered table-striped text-center table-hover tablesaw tablesaw-stack"
                               data-tablesaw-mode="stack">
                            <thead>
                            <tr>
                                <th class="text-center">Contest<br>Adress</th>
                                <th class="text-center">Event</th>
                                <th class="text-center">Level</th>
                                <th class="text-center">First Name</th>
                                <th class="text-center">Last Name</th>
                                <th class="text-center">License Number</th>
                                <th class="text-center">Horse</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Estimated Starting Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pt-3-half text-center">{{ event.contest.adress }}</td>
                                <td class="pt-3-half text-center">{{ event.description }}</td>
                                <td class="pt-3-half text-center">{{ event.level }}</td>
                                <td class="pt-3-half text-center">{{ user.firstname }}</td>
                                <td class="pt-3-half text-center">{{ user.lastname }}</td>
                                <td class="pt-3-half text-center">{{ user.licenceNumber }}</td>
                                <td class="pt-3-half text-center">
                                    {{ form_start(horseForm) }}
                                    {{ form_widget(horseForm) }}
                                    <br>
                                    <div class="form-group">
                                        <input class="main-button" type="submit" value="Submit">
                                    </div>
                                    {{ form_end(horseForm) }}
                                </td>
                                <td class="pt-3-half text-center">{{ event.date | date('d/m/y') }}</td>
                                <td class="pt-3-half text-center">{{ event.estimatedStartingTime | date('H:i:s') }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice has-error">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
