{% extends 'base.html.twig' %}

{% form_theme userForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
	Modify User
{% endblock %}

{% block body %}
	<section class="section" id="features">
		<div class="card section-heading">
			<h2 class="card-header text-center text-uppercase py-4">Modify :
				<em>User</em>
			</h2>
			<div class="container">
				<div class="section-features">
					<div class="card">
						<div class="card-body">
							{{ form_start(userForm) }}
							{{ form_row(userForm.email) }}
							{{ form_row(userForm.first_name) }}
							{{ form_row(userForm.last_name) }}
							<div class="form-group">
								<label class="control-label required" for="{{ userForm.roles.vars.id }}">Roles</label>
								<select id="{{ userForm.roles.vars.id }}" name="{{ userForm.roles.vars.full_name }}" class="form-control">
									{% for choice in userForm.children.roles.vars.choices %}
										<option value="{{ choice.value }}" {% if choice.value is same as (user.roles[0]) %}selected{% endif %}>{{ choice.label }}</option>
									{% endfor %}
								</select>
							</div>
							{% do userForm.roles.setRendered() %}
							{{ form_row(userForm.licence_number) }}
							<div class="form-group">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<button class="main-button" role="button" type="submit">Submit</button>
							</div>
							{{ form_end(userForm) }}
							<form method="post" action="{{ path('admin_delete_user', {'id': user.id}) }}" id="deleteUser{{ user.id }}">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token"
									   value="{{ csrf_token('delete' ~ user.id) }}">
								<input type="submit" class="main-button delete-button" value="Delete">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if is_granted('ROLE_ADMIN') %}
		<script>
			document.getElementById('deleteUser' + {{ user.id }}).addEventListener('submit', event => {
				event.preventDefault();
				return Swal.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
					if (result.value) {
						Swal.fire(
								'Deleted!',
								'Your file has been deleted.',
								'success'
						);
						document.getElementById('deleteUser' + {{ user.id }}).submit()
					}
				})
			});
		</script>
	{% endif %}
{% endblock %}