{% extends 'base.html.twig' %}

{% block title %}Users List
{% endblock %}

{% block body %}
    <section class="section min-height" id="features">
        <div class="card section-heading">
            <h2 class="card-header text-center text-uppercase py-4">Users :
                <em>List</em></h2>
            <div class="card-body">
                <div id="table" class="table-responsive">
                    <table class="table-striped text-center table-hover tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                        <thead>
                        <th class="text-center">Email</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">First Name</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">Edit User</th>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="bordered">
                                <td class="pt-3-half text-center">{{ user.email }}</td>
                                <td class="pt-3-half text-center">{{ user.roles[0] |json_encode }}</td>
                                <td class="pt-3-half text-center">{{ user.firstname }}</td>
                                <td class="pt-3-half text-center">{{ user.lastname }}</td>
                                {% if user.roles[0] == 'ROLE_RIDER' or user.roles[0] == 'ROLE_ORGANIZER' %}
                                    <td class="pt-3-half text-center">
                                        <a class="main-button" href="{{ path('admin_modify_user',
                                            {'id': user.id}) }}" role="button">Modify
                                        </a>
                                    </td>
                                {% elseif user.roles[0] == 'ROLE_ADMIN' %}
                                {% endif %}
                            </tr>
                            {% else %}
                            <p>No user registered</p>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

