{% extends 'base.html.twig' %}

{% block title %}Add Horse
{% endblock %}

{% block body %}
	<section class="section min-height" id="features">
		<div class="card section-heading">
			<h2 class="card-header text-center text-uppercase py-4">Add a :
				<em>Horse</em>
			</h2>
			<div class="container">
				<div class="section-features">
					<div class="card">
						<div class="card-body">
							{{ form_start(horseForm) }}
							{{ form_row(horseForm.name, {'attr': {'class': 'form-control',
								'placeholder' : 'Horse name'}}) }}
							<br>
							{{ form_row(horseForm.gender, {'attr': {'class': 'form-control'}}) }}
							<br>
							<div class="form-group">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<button class="main-button" type="submit">Submit</button>
							</div>
							{{ form_end(horseForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
